.passwordForm {
    max-width: 400px;
    margin: 20px auto;
}

@media screen and (max-width: 750px) {
    .passwordForm {
        max-width: 500px;
    }
}

@media screen and (max-width: 510px) {
    .passwordForm {
        max-width: 90%;
    }
}

.passwordForm h2 {
    margin-bottom: 10px;
}

.successMessage {
    color: var(--success);
    margin-top: 12px;
    margin-bottom: 6px;
}